.component-demo-ui-control-panel {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr;
}

.component-demo-ui-control-panel-title {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.component-demo-ui-control-panel-label {
  padding: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: bold;
}

.component-demo-ui-control-panel-control {
  display: flex;
  justify-content: left;
  align-items: center;
}
