.component-demo-ui-checkbox-control {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 27px;
  overflow: hidden;
  background: #eee;
  border: 1px solid var(--component-demo-ui-input-border-color, #00aaff);
  border-radius: 15px;
  transition: ease 0.25s;
  cursor: pointer;
}

.component-demo-ui-checkbox-control:hover {
  box-shadow: inset 0 0 5px -1px var(--component-demo-ui-input-border-color, #00aaff);
}

.component-demo-ui-checkbox-control::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  transition: ease 0.25s;
}

.component-demo-ui-checkbox-control:has(
    .component-demo-ui-checkbox-control-input:checked
  )::after {
  left: 25px;
}

.component-demo-ui-checkbox-control-input {
  display: none;
}
